* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
}
nav {
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 0.5rem 0 black;
  top: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  background-color: rgb(90, 2, 2);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
}

a {
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: rgb(186, 192, 197);
}

#welcome-section {
  height: 100vh;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(15, 11, 11, 0.822);
}

#projects {
  width: 100vw;
  margin: auto;
  height: auto;
  display: grid;
  background-color: rgb(56, 37, 59);
  grid-template-areas:
    'header' 'header'
    'project-1' 'project-2'
    'project-3' 'project-4';
  column-gap: 10px !important;
  row-gap: 10px !important;
  gap: 10px !important;
  grid-column: auto;
}

.project-1 {
  grid-area: project-1;
}
.project-2 {
  grid-area: project-2;
}
.project-3 {
  grid-area: project-3;
}
.project-4 {
  grid-area: project-4;
}
#header {
  grid-area: header;
}

.project {
  border: 0.1rem solid rgb(90, 2, 2);
  margin: 1rem auto;

  /* padding: 15rem; */
  text-align: center;
  width: 70%;
}

.project img {
  border: 0.1rem solid rgb(90, 2, 2);
  width: 100%;
}

.active {
  color: aliceblue;
  font-size: 1.2rem;
  border-bottom: 0.15rem solid aquamarine;
}

.welcome-message {
  transition: 1s all ease-in;
  text-shadow: 0.2rem 0.2rem black;
  display: none;
  visibility: hidden;
}
i {
  text-shadow: 0.2rem 0.2rem black;
}
.show {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
  visibility: visible;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bounceIn {
  font-size: 3rem;
  animation: blinkingIcon 20s infinite;
}
@keyframes blinkingIcon {
  0% {
    color: #fff;
  }
  49% {
    color: rgb(90, 2, 2);
  }
  60% {
    color: aquamarine;
  }
  99% {
    color: rgb(90, 2, 2);
  }
  100% {
    color: #fff;
  }
}

@media screen and (min-width: 960px) {
  #projects {
    height: auto;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas:
      'header header'
      'project-1 project-2'
      'project-3 project-4';
  }

  .project-1 {
    grid-area: project-1;
  }
  .project-2 {
    grid-area: project-2;
  }
  .project-3 {
    grid-area: project-3;
  }
  .project-4 {
    grid-area: project-4;
  }
  #header {
    grid-area: header;
  }
  .project {
    margin: 1rem auto;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }
}
