* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
}
nav {
  position: fixed;

  box-shadow: 0 0 0.5rem 0 black;
  top: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  background-color: rgb(90, 2, 2);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
}

a {
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: rgb(186, 192, 197);
}

#welcome-section {
  height: 100vh;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(15, 11, 11, 0.822);
  text-shadow: 0.2rem 0.2rem black;
}

#projects {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 'project-1 project-2';
}

.project-1 {
  grid-area: project-1;
}
.project-2 {
  grid-area: project-2;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project img {
  width: 100%;
  margin: auto;
}

.active {
  color: aliceblue;
  font-size: 1.2rem;
  border-bottom: 0.15rem solid aquamarine;
}

.welcome-message {
  transition: all 0.9s ease-in;
  display: none;
}

.show {
  display: block;
}

.bounceIn {
  animation-name: bounceIn;
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.09, 1, 0);
  animation-timing-function: cubic-bezier(0.5, 0.09, 1, 0.5);
  -webkit-animation-iteration-count: initial;
  animation-iteration-count: initial;
}

@keyframes bounceIn {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}
